[Unit]
Description=Blind Control
After=multi-user.target

[Service]
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/python /usr/src/blinds/poll.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
